ion-popover {
  --width: 500px;
}
.row {
  padding-bottom: 20px;
}

.mdb-datatable-filter {
  width: 100%;
}

.form-control {
  padding: 10px !important;
}

.container {
  padding-top: 30px;
}

.table-sm {
  padding: 0px;
}

button {
  height: 3rem;
  background: #1ead47;
  font-weight: 800;
  font-size: 17px;
  letter-spacing: 1px;
  color: #ffff;
  border-radius: 20px !important;
  margin-bottom: 20px;
  width: 15rem !important;
}
